nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjusts item alignment */
    flex-wrap: wrap; /* Wraps items to the next line if needed */
    padding: 10px;
    background-color: #07006b;
}

nav button {
    border-radius: 0.5em;
}